<div class="page">
  <span class="display_none">{{ nav.curr }}</span>
  <a class="button btn first" href="{{ link.name }}{{ nav.first }}">
  	&laquo;
  </a>
  <a class="button btn prev" href="{{ link.name }}{{ nav.prev }}">
    Предыдущая
  </a>
  <a class="button btn next" href="{{ link.name }}{{ nav.next }}">
    Следующая
  </a>
  <a class="button btn last" href="{{ link.name }}{{ nav.total }}">
    &raquo;
  </a>
</div> 